# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# we get some dependencies automatically (we can't get almond, resolver, and conductor)
/vendor/ember
/vendor/handlebars
/vendor/qunit
/vendor/ember-data-shim
/vendor/jquery

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
.DS_Store
